In [3]:
import pandas as pd

# Load the dataset
df = pd.read_csv("global_cars_enhanced.csv")

# Display shape of the dataset
df.shape

(300, 16)

In [4]:
df.head()

,Car_ID,Brand,Manufacture_Year,Body_Type,Fuel_Type,Transmission,Engine_CC,Horsepower,Mileage_km_per_l,Price_USD,Manufacturing_Country,Car_Age,Price_Category,HP_per_CC,Age_Category,Efficiency_Score
0,CAR_0001,Mercedes,2006,SUV,Petrol,Manual,4089,547,17,73407,USA,20,Premium,0.1338,Old,0.35
1,CAR_0002,Nissan,2023,Coupe,Petrol,Automatic,4618,167,25,79370,USA,3,Premium,0.0362,New,0.75
2,CAR_0003,Nissan,2007,Hatchback,Diesel,Manual,1802,110,16,76549,China,19,Premium,0.0610,Old,0.30
3,CAR_0004,Nissan,2013,Coupe,Petrol,Manual,1835,373,16,48722,USA,13,Mid-Range,0.2033,Old,0.30
4,CAR_0005,Hyundai,2009,Hatchback,Hybrid,Automatic,2332,145,28,83265,UK,17,Premium,0.0622,Old,0.90

In [5]:
df.columns

Index(['Car_ID', 'Brand', 'Manufacture_Year', 'Body_Type', 'Fuel_Type',
       'Transmission', 'Engine_CC', 'Horsepower', 'Mileage_km_per_l',
       'Price_USD', 'Manufacturing_Country', 'Car_Age', 'Price_Category',
       'HP_per_CC', 'Age_Category', 'Efficiency_Score'],
      dtype='object')

In [6]:
df.dtypes

Car_ID                    object
Brand                     object
Manufacture_Year           int64
Body_Type                 object
Fuel_Type                 object
Transmission              object
Engine_CC                  int64
Horsepower                 int64
Mileage_km_per_l           int64
Price_USD                  int64
Manufacturing_Country     object
Car_Age                    int64
Price_Category            object
HP_per_CC                float64
Age_Category              object
Efficiency_Score         float64
dtype: object